name: main-pull-request

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Assigning SIMPLE_REPOSITORY_NAME
      run: echo "SIMPLE_REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

    - name: Assigning SIMPLE_BRANCH_NAME
      run: |
        BRANCH_NAME="${{ github.head_ref || github.ref_name}}"
        SIMPLE_BRANCH_NAME="${BRANCH_NAME//\//-}"
        echo "SIMPLE_BRANCH_NAME=${SIMPLE_BRANCH_NAME}" >> $GITHUB_ENV

    - name: Checkout badges branch dedicated to storing badges only
      uses: actions/checkout@v4
      with:
        ref: badges
        path: badges
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Lint
      run: npm run lint

    - name: Build
      run: npm run build

    - name: Test with coverage
      run: npm run test:coverage

    - name: Generate coverage badges
      uses: jpb06/coverage-badges-generation-action@v1.2.0
      with:
        output-folder: badges

    - name: Upload Jest Code Coverage report
      uses: actions/upload-artifact@v4
      with:
        name: jest-coverage-report
        path: coverage/lcov-report/

    - name: Commit and Push the Badges
      uses: EndBug/add-and-commit@v9
      with:
        default_author: github_actions
        message: 'Push updated badges branch'
        add: '*.svg'
        pull: '--rebase --autostash'
        cwd: badges

